/.lake
/.direnv
/_out/
/_tutorial-out/
.DS_Store
figures/lake.trace
/static/figures/*.svg
/static/figures/*.pdf
figures/*.log
figures/*.aux
/figures/*.pdf
/figures/*.svg
/figures/auto/
venv
*.pyc
multi.json
tutorials.json
/.verso/verso-xref.json
/.verso/verso-xref-manifest.json
