lake-manifest.json
.lake
.github/*TEMPLATE*
.vale/styles/proselint/README.md

# build files
_out
browser-tests
html-multi
htmlout
.playwright-browsers

# Vendored files
vendored-js
*.min.js
LICENSE.md