:root {
  --selected-color: #def;
}

#search-wrapper {
  align-self: flex-end;
}

#search-wrapper .combobox-list {
  position: relative;
}

#search-wrapper .combobox .group {
  display: inline-flex;
  cursor: pointer;
}

#search-wrapper .combobox input {
  background-color: white;
  color: black;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  border: none;
  border-bottom: 1px solid gray;
  position: relative;
  cursor: pointer;
}

#search-wrapper .combobox input {
  width: 24rem;
  outline: none;
  font-size: .9rem;
  padding: .3rem .5rem;
}

#search-wrapper .combobox .group.focus input,
#search-wrapper .combobox .group input:hover {
  background-color: var(--selected-color);
  outline: auto;
}

#search-wrapper ul[role="listbox"] {
  margin: 0;
  padding: 0;
  position: absolute;
  top: calc(100%);
  width: 24rem;
  list-style: none;
  background-color: white;
  display: none;
  box-sizing: border-box;
  border: 2px currentcolor solid;
  max-height: 20rem;
  overflow: scroll;
  overflow-x: hidden;
  font-size: .9rem;
  cursor: pointer;
  z-index: 100;
}

#search-wrapper .search-result {
  margin: 0;
  padding: .2rem;

  display: flex;
  flex-direction: column;
  gap: .2rem;

  font-family: sans-serif;
  font-weight: 400;
}

#search-wrapper .search-result.doc-domain, #search-wrapper .search-result.option-domain {
  font-family: var(--verso-code-font-family);
}

#search-wrapper .search-result.tech-term-domain {
  font-family: var(--verso-text-font-family);
}

#search-wrapper .search-result.section-domain {
  font-family: var(--verso-structure-font-family);
  font-weight: bold;
}

#search-wrapper [role="listbox"].focus li[aria-selected="true"],
#search-wrapper [role="listbox"] li:hover {
  background-color: var(--selected-color);
  padding-bottom: calc(.2rem - 1px);
  padding-top: calc(.2rem - 1px);
  border-bottom: 1px solid currentColor;
  border-top: 1px solid currentColor;
}

#search-wrapper .search-result p {
  margin: 0;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
}

#search-wrapper .search-result em {
  font-style: normal;
  text-decoration: underline;
}

#search-wrapper .search-result .domain {
  text-align: right;
  color: #777;
  font-style: italic;
  font-family: var(--verso-structure-font-family);
  font-weight: normal;
  font-size: .7rem;
}

#search-wrapper .domain-filter label {
  display: flex;
  gap: .5rem
}

#search-wrapper .domain-filter input {
  flex-basis: 2rem;
}

/* Page layout */
#search-wrapper {
  padding: var(--verso--content-padding-x);
  width: fit-content;
  position: absolute;
  top: 0;
  right: 0;
}
