@media print {
    /* Remove header */
    header {
        display: none;
    }
    .with-toc {
        margin-top: 0;
    }

    /* Remove nav bar */
    .with-toc > main {
        padding-left: 0;
    }
    #toc {
        display: none;
    }

    /* Fix scroll bars appearing in some code snippets */
    pre {
        white-space: pre-wrap;
    }
    pre.hl.lean {
        white-space: pre-wrap;
    }
    .hl.lean.block {
        white-space: pre-wrap;
    }

    /* Fix look of footnotes */
    span.marginalia span.note {
        float: none;
        margin: 0 0 0 1ch;
        padding: 0 .5ch 0 1.5ch;
        border: 1px solid #98B2C0;
        border-radius: .5rem;
    }
    span.marginalia .note::before {
        content: "i";
        width: 1rem;
        height: 1rem;
        top: .1rem;
        left: -.5rem;
        line-height: 1.1rem;
        text-align: center;
        border: 1px solid #98B2C0;
        border-radius: 1rem;
        background-color: #fff;
    }
    span.marginalia::after {
        display: none;
    }

    /* Improve layout on paper*/
    h1, h2, h3, h4, h5, h6, summary {
        break-after: avoid-page;
    }
    main > section > section {
        break-before: page;
    }
    p {
        orphans: 3;
        widows: 3;
    }
}
