{
  "version": 0,
  "sources": {
    "tutorials": {
      "root": "/doc/tutorials/__VERSION__",
      "shortName": "tutorials",
      "longName": "Lean Tutorials",
      "updateFrequency": "always",
      "sources": [{"local": "_tutorial-out/xref.json"}]
    }
  }
}
