/* CSS variables for each Lean branding color */
:root {
    /* Main color palette */
    --lean-black: #000000;
    --lean-white: #ffffff;
    --lean-blue: #0073a3;

    /* Accent color palette */
    /* This light blue should only be used as a background, and any text
    on it should be black to ensure sufficient contrast. */
    --lean-accent-light-blue: #b0c5cd;
    /* This orange should be used only as an accent in small amounts. No
    small type. Bold subhead or larger for typography.*/
    --lean-accent-orange: #f15732;

    /* Non-branding colors */
    /* These colors should never be used as actual brand colors, but they
    are complementary to our colors and can be used for elements in
    presentations or charts or other peripheral materials. They are
    only to be used as an accent or a complementary design element,
    never as Lean branding. */
    --lean-compl-orangered: #f15732;
    --lean-compl-yellow: #fdc05f;
    --lean-compl-green: #699e88;
    --lean-compl-bluegray: #a9c7c9;
    --lean-compl-darkgray: #354140;
    --lean-compl-gray: #96a0a5;
    --lean-compl-pink: #f05665;
    --lean-compl-lightpink: #f7a8b0;
    --lean-compl-darkblue: #005e7d;
    --lean-compl-turquoise: #48c6e2;
}
